{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
  <head>
    <title>Django Admin Playground</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <style type="text/tailwindcss">
      @theme {
        --font-title: "Kode Mono", monospace;
        --font-base: "Raleway", sans-serif;
        --color-help-text-bg: var(--color-slate-800);
        --color-help-text-fg: var(--color-gray-50);
        --shadow-sidebar: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      }
    </style>
  </head>
  <body class="w-screen h-screen">
    <div class="flex">
      {% include 'compare/sidebar/base.html' %}
      {% with params=request.resolver_match.kwargs %}
      <div class="flex w-full h-screen">
        <div class="flex-1">
          <iframe class="w-full h-full" id="before" src="{% block before_url %}{% endblock %}"></iframe>
        </div>
        <div class="flex-1">
          <iframe class="w-full h-full" id="after" src="{% block after_url %}{% endblock %}"></iframe>
        </div>
      </div>
      {% endwith %}
    </div>
  </body>
</html>
