[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "main.settings"
addopts = "-m 'not playwright' --reuse-db --import-mode=importlib"
python_files = [
  "tests.py",
  "test_*.py",
]
markers = [
  "playwright: mark test that requires playwright",
]

[tool.ruff]
target-version = "py312"
line-length = 88
# Exclude the template content as most files aren't parseable
exclude = ["migrations", "before_admin", "before_registration"]
lint.select = [
  "A",
  # "ANN", # flake8-annotations: we should support this in the future but many errors atm
  "ASYNC",
  "B",
  "BLE",
  "C4",
  "C90",
  "COM",
  "DTZ",
  "E",
  "EM",
  "ERA",
  "EXE",
  "F",
  "FA",
  "FLY",
  "G",
  "I",
  "ICN",
  "INP",
  "INT",
  "ISC",
  "N",
  "PD",
  "PERF",
  "PGH",
  "PIE",
  "PL",
  "PT",
  # "ARG", # Unused function argument
  "PTH",
  "PYI",
  "Q",
  "RET",
  "RSE",
  # "FURB",
  # "LOG",
  "RUF",
  "SIM",
  "SLF",
  "SLOT",
  "T10",
  "TC",
  "TID",
  "TRY",
  "UP",
  "W",
  "YTT",
]
lint.ignore = [
  "EM101",
  "RUF012", # Mutable class attributes should be annotated with `typing.ClassVar`
  "S101",   # Use of assert detected https://docs.astral.sh/ruff/rules/assert/
  "SIM102", # sometimes it's better to nest
  "TRY003", # Avoid specifying long messages outside the exception class
  "PT009", # Use a regular assert instead of unittest-style
  "A001",
]
