{% load static %}
<div class="shrink-0 overflow-hidden">
  <div
  class="fixed z-sidebar md:sticky duration-300"
  x-data=""
  :class="$store.sidebar.isOpen ? 'w-[18rem]' : 'w-[3.5rem]'"
  >
    <nav
    class="fixed top-0 left-0 flex flex-col h-screen bg-gray-100 duration-300 border-r border-gray-300 ease-in-out shadow-sidebar"
    :class="$store.sidebar.isOpen ? 'w-[18rem]' : 'w-[3.5rem]'"
    >
      <div class="flex w-full items-center p-2">
        <button
        class="group inline-flex items-center justify-center rounded-lg p-2 cursor-pointer hover:bg-gray-300"
        aria-label="Sidebar Toggle"
        :aria-pressed="$store.sidebar.isOpen"
        @click="$store.sidebar.toggle()"
        :class="$store.sidebar.isOpen && 'bg-gray-300'"
        >
          <div
          class="absolute px-4 text-xs py-2 hidden left-16 bg-help-text-bg text-help-text-fg whitespace-nowrap rounded-lg opacity-0 font-base duration-300 group-hover:opacity-100"
          aria-hidden="true"
          :class="$store.sidebar.isOpen && 'hidden'"
          >Toggle Sidebar</div>
          <svg class="" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="4" y="6" width="16" height="12" rx="1" stroke="currentColor" stroke-width="1.5" fill="none"/>
            <line x1="8" y1="6" x2="8" y2="18" stroke="currentColor" stroke-width="1.5"/>
          </svg>
        </button>
        <h1
        class="flex gap-1 items-center ml-4 whitespace-nowrap font-title font-bold text-lg duration-300"
        :class="!$store.sidebar.isOpen && 'hidden'"
        >
          <span class="text-red-600">P</span>
          <span class="text-teal-600">L</span>
          <span class="text-indigo-600">A</span>
          <span class="text-purple-600">Y</span>
          <span class="text-amber-600">G</span>
          <span class="text-emerald-600">R</span>
          <span class="text-indigo-600">O</span>
          <span class="text-zinc-600">U</span>
          <span class="text-rose-600">N</span>
          <span class="text-lime-600">D</span>
          <img class="ml-1 w-[32px] h-[32px]" src="{% static 'compare/img/playground.png' %}">
        </h1>
      </div>
      <div class="flex flex-col align-center mt-2" :class="!$store.sidebar.isOpen && 'h-full'">
        <ul>
          <li>
            {% include 'compare/sidebar/color_theme_toggle.html' %}
          </li>
          <li>
            {% include 'compare/sidebar/layout_direction_toggle.html' %}
          </li>
        </ul>
      </div>
      {% if request.user.is_authenticated %}
        <h2 class="px-4 py-2 mt-12 font-title text-base whitespace-nowrap" x-show="$store.sidebar.isOpen">
          <span>Select</span>
          <span class="text-indigo-600">M</span><span class="text-lime-600">o</span><span class="text-rose-600">d</span><span class="text-neutral-600">e</span><span class="text-orange-600">l</span>
        </h2>
        <div class="overflow-scroll px-2 h-full" x-show="$store.sidebar.isOpen">
          {% include 'compare/sidebar/app_list.html' %}
        </div>
        <div class="relative p-2 shadow-sidebar duration-300 transition-color" :class="$store.sidebar.isOpen && 'shadow-sidebar bg-green-900/20'">
          {% include 'compare/sidebar/profile.html' %}
        </div>
      {% endif %}
    </nav>
  </div>
</div>
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.store('sidebar', {
            isOpen: localStorage.getItem('django-admin-playground-sidebar') === 'true',

            toggle() {
                this.isOpen = ! this.isOpen;
                localStorage.setItem('django-admin-playground-sidebar', this.isOpen);
            }
        })
    })
</script>
